.collection-item {
  height: 25rem;
  width: 22vw;

  .image {
    position: relative;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    .custom-button {
      position: absolute;
      bottom: 1rem;
      opacity: 0.7;
      display: none;
    }
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }
}
